<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <gazebo>
        <plugin filename="libSurface.so" name="maritime::Surface">
            <link_name>left_hull_link</link_name>
            <hull_length>3.2</hull_length>
            <hull_radius>0.25</hull_radius>
            <fluid_level>0</fluid_level>
            <points>
                <point>-1.5  0.2 -0.15</point>
                <point>-1.0  0.2 -0.15</point>
                <point>-0.5  0.2 -0.15</point>
                <point> 0.0  0.2 -0.15</point>
                <point> 0.5  0.2 -0.15</point>
                <point> 1.0  0.2 -0.15</point>
                <point> 1.5  0.2 -0.15</point>

                <point>-1.5  0   -0.15</point>
                <point>-1.0  0   -0.15</point>
                <point>-0.5  0   -0.15</point>
                <point> 0.0  0   -0.15</point>
                <point> 0.5  0   -0.15</point>
                <point> 1.0  0   -0.15</point>
                <point> 1.5  0   -0.15</point>

                <point>-1.5 -0.2 -0.15</point>
                <point>-1.0 -0.2 -0.15</point>
                <point>-0.5 -0.2 -0.15</point>
                <point> 0.0 -0.2 -0.15</point>
                <point> 0.5 -0.2 -0.15</point>
                <point> 1.0 -0.2 -0.15</point>
                <point> 1.5 -0.2 -0.15</point>
            </points>
            <wavefield>
                <topic>/gazebo/wavefield/parameters</topic>
            </wavefield>
            </plugin>

        <plugin filename="libSurface.so" name="maritime::Surface">
            <link_name>right_hull_link</link_name>
            <hull_length>3.2</hull_length>
            <hull_radius>0.25</hull_radius>
            <fluid_level>0</fluid_level>
            <points>
                <point>-1.5  0.2 -0.15</point>
                <point>-1.0  0.2 -0.15</point>
                <point>-0.5  0.2 -0.15</point>
                <point> 0.0  0.2 -0.15</point>
                <point> 0.5  0.2 -0.15</point>
                <point> 1.0  0.2 -0.15</point>
                <point> 1.5  0.2 -0.15</point>

                <point>-1.5  0   -0.15</point>
                <point>-1.0  0   -0.15</point>
                <point>-0.5  0   -0.15</point>
                <point> 0.0  0   -0.15</point>
                <point> 0.5  0   -0.15</point>
                <point> 1.0  0   -0.15</point>
                <point> 1.5  0   -0.15</point>

                <point>-1.5 -0.2 -0.15</point>
                <point>-1.0 -0.2 -0.15</point>
                <point>-0.5 -0.2 -0.15</point>
                <point> 0.0 -0.2 -0.15</point>
                <point> 0.5 -0.2 -0.15</point>
                <point> 1.0 -0.2 -0.15</point>
                <point> 1.5 -0.2 -0.15</point>
            </points>
            <wavefield>
                <topic>/gazebo/wavefield/parameters</topic>
            </wavefield>
            </plugin>

        <plugin filename="gz-sim-hydrodynamics-system" name="gz::sim::systems::Hydrodynamics">
            <link_name>left_hull_link</link_name>
            <xDotU>0.0</xDotU>
            <yDotV>0.0</yDotV>
            <nDotR>0.0</nDotR>
            <xU>-80</xU>
            <xAbsU>-102.4</xAbsU>
            <yV>-80</yV>
            <yAbsV>0.0</yAbsV>
            <zW>-300.0</zW>
            <kP>-50.0</kP>
            <mQ>-50.0</mQ>
            <nR>-400.0</nR>
            <nAbsR>0.0</nAbsR>
        </plugin>

        <plugin filename="gz-sim-hydrodynamics-system" name="gz::sim::systems::Hydrodynamics">
            <link_name>right_hull_link</link_name>
            <xDotU>0.0</xDotU>
            <yDotV>0.0</yDotV>
            <nDotR>0.0</nDotR>
            <xU>-80</xU>
            <xAbsU>-102.4</xAbsU>
            <yV>-80</yV>
            <yAbsV>0.0</yAbsV>
            <zW>-300.0</zW>
            <kP>-50.0</kP>
            <mQ>-50.0</mQ>
            <nR>-400.0</nR>
            <nAbsR>0.0</nAbsR>
        </plugin>
    </gazebo>
</robot>
