<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <gazebo>
        <plugin filename="gz-sim-thruster-system" name="gz::sim::systems::Thruster">
            <joint_name>base_left_propeller_joint</joint_name>
            <thrust_coefficient>0.004422</thrust_coefficient>
            <fluid_density>1000</fluid_density>
            <propeller_diameter>0.2</propeller_diameter>
            <velocity_control>true</velocity_control>
            <use_angvel_cmd>true</use_angvel_cmd>
        </plugin>

        <plugin filename="gz-sim-thruster-system" name="gz::sim::systems::Thruster">
            <joint_name>base_right_propeller_joint</joint_name>
            <thrust_coefficient>0.004422</thrust_coefficient>
            <fluid_density>1000</fluid_density>
            <propeller_diameter>0.2</propeller_diameter>
            <velocity_control>true</velocity_control>
            <use_angvel_cmd>true</use_angvel_cmd>
        </plugin>
    </gazebo>
</robot>